.container {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 1rem 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
}
